/* Sale--menu item--color red */
.header__item.header__item--sale .underline-text__label {
  color: #ED0000;
}

.header__item.header__item--sale .underline-text__label:before {
  background: #ED0000;
}

.sale_red {
  color: #ED0000;
}

.shop-by_bold {
  font-weight: 700;
}

/* Reducing Menu height */
.round-style .shopify-section-group-main-header-group+.shopify-section-group-main-header-group {
  margin-bottom: 1rem;
}

.round-style .shopify-section-group-main-header-group {
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .header__logo {
    padding: 1rem 0;
  }
  .header__grid {
    min-height: 5rem;
  }
  .header__item {
    padding: 0 2rem 1rem;
  }
}

.header__nav {
  padding-top: 1rem;
}

.header__logo {
  padding: 1rem 0;
}

.header__grid {
  min-height: 5rem;
  padding-top: 0;
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .footer__utils {
    grid-template-areas: "copyright settings bottom-bar payment-icons";
  }
}

/* Product Page */
.product-variant-picker__pill-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.pill--large {
  width: 100%;
}

.product-form {
  flex-direction: column-reverse;
}

/* Menu */
@media screen and (min-width: 992px) {
  .header__nav .header__dropdown-toggle[data-aria-expanded="true"] .underline-text__label:before {
    transform: translate(0);
  }
  .header__menu-item--header{
    font-weight: 700;
    font-size: 18px;
  }
  .header__menu-item--header:hover {
    background: transparent;
    cursor: auto;
  }
}

/* font-size */
@media screen and (max-width: 550px) {
  .mobile--h0 {
    font-size: var(--gsc-heading-0-font-size) !important;
    line-height: var(--gsc-heading-0-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-0-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-0-font-size) !important;
  }

  .mobile--h1 {
    font-size: var(--gsc-heading-1-font-size) !important;
    line-height: var(--gsc-heading-1-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-1-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-1-font-size) !important;
  }

  .mobile--h2 {
    font-size: var(--gsc-heading-2-font-size) !important;
    line-height: var(--gsc-heading-2-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-2-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-2-font-size) !important;
  }

  .mobile--h3 {
    font-size: var(--gsc-heading-3-font-size) !important;
    line-height: var(--gsc-heading-3-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-3-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-3-font-size) !important;
  }

  .mobile--h4 {
    font-size: var(--gsc-heading-4-font-size) !important;
    line-height: var(--gsc-heading-4-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-4-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-4-font-size) !important;
  }

  .mobile--h5 {
    font-size: var(--gsc-heading-5-font-size) !important;
    line-height: var(--gsc-heading-5-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-5-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-5-font-size) !important;
  }

  .mobile--h6 {
    font-size: var(--gsc-heading-6-font-size) !important;
    line-height: var(--gsc-heading-6-line-height) !important;
    --gsc-heading-line-height: var(--gsc-heading-6-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-6-font-size) !important;
  }

  .mobile--h7 {
    font-size: var(--gsc-heading-7-font-size)!important;
    line-height: var(--gsc-heading-7-line-height)!important;
    --gsc-heading-line-height: var(--gsc-heading-7-line-height) !important;
    --gsc-heading-font-size: var(--gsc-heading-7-font-size) !important;
  }

  .mobile--body0 {
    font-size: var(--gsc-body-font-size-xxl) !important;
    line-height: var(--gsc-body-line-height-xxl) !important;
  }

  .mobile--body1 {
    font-size: var(--gsc-body-font-size-xl) !important;
    line-height: var(--gsc-body-line-height-xl) !important;
  }

  .mobile--body2 {
    font-size: var(--gsc-body-font-size-l) !important;
    line-height: var(--gsc-body-line-height-l) !important;
  }

  .mobile--body3 {
    font-size: var(--gsc-body-font-size-m) !important;
    line-height: var(--gsc-body-line-height-m) !important;
  }

  .mobile--body4 {
    font-size: var(--gsc-body-font-size-s) !important;
    line-height: var(--gsc-body-line-height-s) !important;
  }

  .mobile--body5 {
    font-size: var(--gsc-body-font-size-xs) !important;
    line-height: var(--gsc-body-line-height-xs) !important;
  }

  .mobile--body6 {
    font-size: var(--gsc-body-font-size-xxs) !important;
    line-height: var(--gsc-body-line-height-xxs) !important;
  }
}

/* Footer */
.footer__block_svg__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.footer__block_svg__wrapper .svg_icon {
  cursor: pointer;
}
.footer__block_wrapper--2 {
  margin-top: 40px;
}
.desktop_svg {
  display: none;
}
.mobile_svg {
  display: block;
}
@media screen and (min-width: 768px) {
  .desktop_svg {
    display: block;
  }
  .mobile_svg {
    display: none;
  }
  .svg_icon:first-child .mobile_svg svg {
    width: 104px;
    height: 35px;
  }
  .svg_icon .mobile_svg svg {
    width: 118px;
    height: 35px;
  }
  .svg_icon:hover .desktop_svg {
    display: none;
  }
  .svg_icon:hover .mobile_svg {
    display: block;
  }
}
:root {
  --gsc-landscape-sm-image-ratio:calc((1/2)*100%);
}
.shape--landscape-sm {
  padding-bottom: var(--gsc-landscape-sm-image-ratio);
}

.input--custom {
  background-color: #fff;
  color: #000;
  border-color: var(--gsc-foreground-color-100);
}

.input--custom.input::placeholder {
  color: #000 !important;
}

.rounded_btn {
  min-width: 4rem;
  min-height: 4rem;
  height: unset;
  color: #000;
  background: #e6e5e5;
  border-radius: 50%;
  top: 13%;
  right: 2%;
}

.input-btn {
  min-width: 5rem;
  min-height: 5.4rem;
  height: unset;
  top: 2%;
  right: 0%;
}

.product-variant-picker__list div:not([option-picker-name="Size"]),
.product-variant-picker__list div:not([option-picker-name="Color"]) {
  order: 3;
}

.product-variant-picker__list div[option-picker-name="Size"] {
  order: 2;
}

.product-variant-picker__list div[option-picker-name="Color"] {
  order: 1;

}
/* Colors Mobile */
@media screen and (max-width: 550px){
  .mobile_specific_bg_class{
    background-color: #C94238;
  }
  .mobile_specific_textColor_class .scrolling-text__text{
    color: #C94238;
  }
}

/* featured-brands--section */
.featured-brands__image img {
  object-fit: contain;
}
.featured-products__desktop .instagram__link-overlay {
  background: transparent;
}
.instagram__image-title {
  padding: 20px 0;
}
.featured-products__desktop .instagram__image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.featured-products__mobile .instagram__link-overlay {
  background: transparent;
}
.featured-products__mobile .instagram__image {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .featured-brands__image.shape--nature {
    padding-bottom: 80%;
  }
}

/* collection-hero-banner */
.collection-hero__carousel-container {
  height: 0;
}
@media screen and (max-width: 425px) {
  .collection-hero__content-wrap {
    justify-content: flex-start;
    padding: 0;
  }
  .collection-hero__without-banner .collection-hero__content {
    padding: 2.4rem 0;
  }
}

/* App-section */
.app__header--center {
  text-align: center
}
.app__title {
  text-decoration: none;
  font-weight: 700;
}

.app__title-link {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.app__title-link_svg {
  visibility: hidden;
  transform: translate(-1rem, 1rem);
  transition: transform .3s ease-in-out;
}

.app__title-link:hover .app__title-link_svg {
  visibility: visible;
  transform: translate(0, 0rem);
}

/* product-card */
@media screen and (max-width: 525px) {
  .product-card__title {
    font-size: calc(1.4rem * 1);
    text-align: left;
  }
  .product-card__vendor {
    font-size: calc(1.4rem - 2px);
  }
  .collection-card__title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .image-block__title {
    font-size: 2rem;
    line-height: 2rem;
  }
  .image-block__content-wrap {
    padding: 1.2rem;
  }
  .product-card--center-alignment .product-card__info {
    align-items: flex-start;
  }
}
.product-card__title {
  margin: 0.4rem 0 0;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card__actions {
  justify-content: flex-end;
}

.product-card__btns {
  align-items: flex-end;
}

.product-card__on-image-badges {
  display: block !important;
}

.product-card__under-image-badges--hidden-on-desktop {
  display: none
}

@container collection-card (width<=200px) {
  .collection-card__title {
      font-size: 2rem;
      line-height: 2rem;
  }
}

 .image-with-text_svg__wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  row-gap: 2rem;
  margin: 4rem 0 0;
}

@media screen and (min-width: 381px) {
  .img-svg_icon:last-child {
    margin-left: 2rem;
  }
}

.img-desktop_svg {
  display: none;
}
.img-mobile_svg {
  display: block;
}
@media screen and (min-width: 768px) {
  .img-desktop_svg {
    display: block;
  }
  .img-mobile_svg {
    display: none;
  }
  .img-svg_icon:hover .img-desktop_svg {
    display: none;
  }
  .img-svg_icon:hover .img-mobile_svg {
    display: block;
  }
}
.page__content {
  text-align: center;
}

.round-style .announcement-bar__inner-container {
  min-height: 4rem;
}

.vertical-product-card__buttons {
  left: auto;
  right: 0;
}

@media screen and (min-width: 768px) {
  body[header-desktop-sticky] .product__info-wrapper {
    top: 0;
  }  
}

.hide_row_gap-1{
  row-gap: 0;
}